<form [formGroup]="product">
    <div class="mb-3">
      <label>Name:</label>
      <input class="form-control" formControlName="name" />
      <app-validation-messages
        [errors]="name.errors"
        [touched]="name.touched"
        [dirty]="name.dirty"
      ></app-validation-messages>
    </div>
  
    <div class="mb-3">
      <label>Image:</label>
      <input class="form-control" formControlName="image" />
    </div>
  
    <div class="mb-3">
      <label>Description:</label>
      <input class="form-control" formControlName="description" />
    </div>
  
    <div class="mb-3">
      <label>Price:</label>
      <input class="form-control" formControlName="price" />
    </div>
  
    <div class="mb-3" formGroupName="brand">
      <label>Brand Name:</label>
      <input class="form-control" formControlName="name" />
      <app-validation-messages
        [errors]="brandName.errors"
        [touched]="brandName.touched"
        [dirty]="brandName.dirty"
      ></app-validation-messages>
      <label>Brand Logo:</label>
      <input class="form-control" formControlName="logo" />
    </div>
  
    <div class="mb-3">
      <label>Promotion:</label>
      <input class="form-control" formControlName="promotion" />
    </div>
  
    <div class="mb-3">
      <label>Quantity:</label>
      <input class="form-control" formControlName="quantity" />
    </div>
  
    <div class="mb-3" formArrayName="tags">
      <label>Tags:</label>
      <div *ngFor="let tag of tags; let i = index">
        <input class="form-control" [formControl]="tag" />
      </div>
      <button type="button" (click)="addTags()">+</button>
    </div>
  
    <div class="mb-3">
      <input
        type="submit"
        class="btn btn-primary"
        value="Add Product"
        (click)="submit()"
      />
    </div>
  </form>
  